@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    p {
        text-align: justify
    }

    .image {
        border-radius: 15px;
        width: 340px;
       margin-right: 20px
    }
</style>
<div>
    <div class="w-100 d-flex align-items-center" style="background-color: #d5dbe9; color:gray; height: 50px;font-size: 13px; margin-bottom: 25px">
        <span style="margin-left: 15px">Home <span style="margin-bottom: 5px; font-size: 11px">></span> Về JUSTGLASSES</span>
    </div>
    <div style="margin-top: 30px" class="d-flex justify-content-between container">
        <img src="~/Content/Images/About/content1.jpeg" style="margin-bottom: 30px" />
        <img src="~/Content/Images/About/content2.jpeg" style="margin: 30px 30px 0 30px" />
        <h2 style="text-align: center; margin-top: 100px; font-weight: bold; color: cadetblue">CẢM ƠN BẠN VÌ ĐÃ LỰA CHỌN CHÚNG TÔI</h2>
    </div>
    <h2 style="text-align: center; font-weight: bold; margin-left: -5px;margin-top: 80px;color: cadetblue">HỆ THỐNG CỬA HÀNG KÍNH MẮT</h2>

    <div class="d-flex justify-content-between" style="margin-top: 50px;">
        <div>

            <p style="margin-right: 50px">
                Kính mắt JUSTGLASSES chắc không còn quá xa lạ với giới trẻ nữa. Đây là kênh thông tin mua sắm và giải trí dành cho giới trẻ, là “món ăn tinh thần” hằng ngày không thể thiếu của mỗi người trẻ.
                Được thành lập từ năm 2015, trải qua hơn 7 năm phát triển kính mắt Anna đã, đang và sẽ chiếm vị trí không thể thiếu đối với các bạn trẻ.
                Cập nhật thông tin thời trang nhanh chóng và phù hợp với thị hiếu của khán giả thông qua các mạng xã hội như Facebook, Tiktok, Instagram, Youtube, kính mắt JUSTGLASSES là lựa chọn hàng đầu cho những ai muốn tận hưởng các bài viết,
                video vừa mang tính giải trí mà vẫn có đầy đủ thông tin cần thiết.
            </p>
        </div>
        <img src="~/Content/Images/About/content3.jpeg" class="w-50" />
    </div>
    <h4 style="margin-top: 50px">TÌNH THƯƠNG MẾN THƯƠNG</h4>

    <h2 style="text-align: left;  font-weight: bold; color: cadetblue; margin-bottom: 40px">
        KHÁCH HÀNG THÂN YÊU
    </h2>
    <div class="d-flex justify-content-between">
        <img src="~/Content/Images/About/a3.jpg" class="image" />
        <img src="~/Content/Images/About/a2.jpg" class="image" />
        <img src="~/Content/Images/About/a1.jpg" class="image" />
    </div>
</div>